<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home | Quote It</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='fonts/icomoon/style.css') }}">

  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/magnific-popup.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery-ui.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.theme.default.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static',filename='css/lightgallery.min.css') }}">    

  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-datepicker.css') }}">

  <link rel="stylesheet" href="{{ url_for('static',filename='fonts/flaticon/font/flaticon.css') }}">

  <link rel="stylesheet" href="{{ url_for('static',filename='css/swiper.css') }}">

  <link rel="stylesheet" href="{{ url_for('static',filename='css/aos.css') }}">

  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

</head>
<body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    



    <header class="site-navbar py-3" role="banner">

      <div class="container-fluid">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2" data-aos="fade-down">
            <h1 class="mb-0"><a href="{{ url_for('home') }}" class="text-white h2 mb-0" style="font-family: 'Cormorant Garamond', serif;">"Quote It"</a></h1>
          </div>
          <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
                <!---<li class="has-children">
                  <a href="single.html">Gallery</a>
                  <ul class="dropdown">
                    <li><a href="#">Nature</a></li>
                    <li><a href="#">Portrait</a></li>
                    <li><a href="#">People</a></li>
                    <li><a href="#">Architecture</a></li>
                    <li><a href="#">Animals</a></li>
                    <li><a href="#">Sports</a></li>
                    <li><a href="#">Travel</a></li>
                    <li class="has-children">
                      <a href="#">Sub Menu</a>
                      <ul class="dropdown">
                        <li><a href="#">Menu One</a></li>
                        <li><a href="#">Menu Two</a></li>
                        <li><a href="#">Menu Three</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>--->
                <li><a href="{{ url_for('services') }}">Upload</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
              </ul>
            </nav>
          </div>

          <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
            <div class="d-none d-xl-inline-block">
              <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                <li>
                  <a href="https://www.facebook.com/" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                </li>
                <li>
                  <a href="https://www.twitter.com/" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                </li>
                <li>
                  <a href="https://www.youtube.com/" class="pl-3 pr-3"><span class="icon-youtube-play"></span></a>
                </li>
              </ul>
            </div>

            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>

    <div class="container-fluid text-center">
      <form action="{{url_for('single')}}">
        <div class="row text-center">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <input type="text" id="fname" class="form-control" placeholder="Type Here" name="type">
          </div>
          <div class="col-md-3"></div>
          </div>
          <div>
            <input type="submit" value="Search" class="btn btn-primary py-2 px-4 text-dark">
          </div>
          </div>
        </form>
    </div>



    <div class="container-fluid" data-aos="fade" data-aos-delay="500">
      <div class="row">

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Success</h2>
              <a href="{{ url_for('single', type='success') }}" class="btn btn-outline-white py-2 px-4">Quotes</a>
            </div>
            <img src="https://media.istockphoto.com/photos/leadership-concept-with-paper-airplanes-picture-id1175911679?b=1&k=6&m=1175911679&s=170667a&w=0&h=JPbmYKvFfMqgHEeJ9f44rSRjAIT6lk2DWuAM4mYJljc=" alt="Image" class="img-fluid" style="height:350px;width:500px">
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Motivation</h2>
              <a href="{{ url_for('single', type='motivation') }}" class="btn btn-outline-white py-2 px-4">Quotes</a>
            </div>
            <img src="https://cdn.pixabay.com/photo/2016/03/09/10/37/light-bulb-1246043__340.jpg" alt="Image" class="img-fluid" style="height:350px;width:500px">
          </div>
        </div>
        <div class="col-lg-4">

          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Nature</h2>
              <a href="{{ url_for('single', type='nature') }}" class="btn btn-outline-white py-2 px-4">Quotes</a>
            </div>
            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Image" class="img-fluid" style="height:350px;width:500px">
          </div>

        </div>
        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Love</h2>
              <a href="{{ url_for('single', type='love') }}" class="btn btn-outline-white py-2 px-4">Quotes</a>
            </div>
            <img src="https://cdn.pixabay.com/photo/2015/03/30/20/33/heart-700141__340.jpg" alt="Image" class="img-fluid" style="height:350px;width:500px">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Life</h2>
              <a href="{{ url_for('single', type='life') }}" class="btn btn-outline-white py-2 px-4">Quotes</a>
            </div>
            <img src="https://cdn.pixabay.com/photo/2016/03/09/09/30/woman-1245817__340.jpg" alt="Image" class="img-fluid" style="height:350px;width:500px">
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Happy</h2>
              <a href="{{ url_for('single', type='happy') }}" class="btn btn-outline-white py-2 px-4">Quotes</a>
            </div>
            <img src="https://cdn.pixabay.com/photo/2016/04/27/20/38/girl-1357485__340.jpg" alt="Image" class="img-fluid" style="height:350px;width:500px">
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">God</h2>
              <a href="{{ url_for('single', type='god') }}" class="btn btn-outline-white py-2 px-4">Quotes</a>
            </div>
            <img src="https://cdn.pixabay.com/photo/2018/06/17/19/12/church-3481187__340.jpg" alt="Image" class="img-fluid" style="height:350px;width:500px">
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Poetry</h2>
              <a href="{{ url_for('single', type='poetry') }}" class="btn btn-outline-white py-2 px-4">Quotes</a>
            </div>
            <img src="https://cdn.pixabay.com/photo/2018/03/04/23/32/book-3199610__340.jpg" alt="Image" class="img-fluid" style="height:350px;width:500px">
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Hope</h2>
              <a href="{{ url_for('single', type='hope') }}" class="btn btn-outline-white py-2 px-4">Quotes</a>
            </div>
            <img src="https://media.istockphoto.com/photos/young-boy-sticking-his-drawing-on-home-window-during-the-covid19-picture-id1214595977?b=1&k=6&m=1214595977&s=170667a&w=0&h=Cpwry4wnnDtUMldpqAGOLSzdUQJ3d7hfAE9ET0TJMn0=" alt="Image" class="img-fluid" style="height:350px;width:500px">
          </div>
        </div>

      </div>
    </div>

    <div class="footer py-4">
      <div class="container-fluid text-center">
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart-o" aria-hidden="true"></i> by <a href="{{ url_for('home') }}" style="font-family: 'Cormorant Garamond', serif;">"Quote It"</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>

    

    
    
  </div>

  <script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/jquery-migrate-3.0.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/jquery-ui.js') }}"></script>
  <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/jquery.stellar.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/jquery.countdown.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/jquery.magnific-popup.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/swiper.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/aos.js') }}"></script>

  <script src="{{ url_for('static',filename='js/picturefill.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/lightgallery-all.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/jquery.mousewheel.min.js') }}"></script>

  <script src="{{ url_for('static',filename='js/main.js') }}"></script>
  
  <script>
    $(document).ready(function(){
      $('#lightgallery').lightGallery();
    });
  </script>

</body>
</html>