<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quotes | Quote It</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='fonts/icomoon/style.css') }}">

  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/magnific-popup.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery-ui.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.theme.default.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static',filename='css/lightgallery.min.css') }}">    

  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-datepicker.css') }}">

  <link rel="stylesheet" href="{{ url_for('static',filename='fonts/flaticon/font/flaticon.css') }}">

  <link rel="stylesheet" href="{{ url_for('static',filename='css/swiper.css') }}">

  <link rel="stylesheet" href="{{ url_for('static',filename='css/aos.css') }}">

  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

  <script type="text/javascript" src="{{ url_for('static',filename='js/single.js') }}"></script>

</head>
<body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    



    <header class="site-navbar py-3" role="banner">

      <div class="container-fluid">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2" data-aos="fade-down">
            <h1 class="mb-0"><a href="{{ url_for('home') }}" class="text-white h2 mb-0" style="font-family: 'Cormorant Garamond', serif;">"Quote It"</a></h1>
          </div>
          <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <!---<li class="has-children active">
                  <a href="single.html">Gallery</a>
                  <ul class="dropdown">
                    <li><a href="#">Nature</a></li>
                    <li><a href="#">Portrait</a></li>
                    <li><a href="#">People</a></li>
                    <li><a href="#">Architecture</a></li>
                    <li><a href="#">Animals</a></li>
                    <li><a href="#">Sports</a></li>
                    <li><a href="#">Travel</a></li>
                    <li class="has-children">
                      <a href="#">Sub Menu</a>
                      <ul class="dropdown">
                        <li><a href="#">Menu One</a></li>
                        <li><a href="#">Menu Two</a></li>
                        <li><a href="#">Menu Three</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>--->
                <li><a href="{{ url_for('services') }}">Upload</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
              </ul>
            </nav>
          </div>

          <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
            <div class="d-none d-xl-inline-block">
              <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                <li>
                  <a href="https://www.facebook.com/" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                </li>
                <li>
                  <a href="https://www.twitter.com/" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                </li>
                <li>
                  <a href="https://www.youtube.com/" class="pl-3 pr-3"><span class="icon-youtube-play"></span></a>
                </li>
              </ul>
            </div>

            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

          </div>
          <div id="bread"></div>

        </div>
      </div>
      
    </header>




    <div class="site-section"  data-aos="fade">
      <div class="alert alert-warning alert-dismissible fade show" role="alert" style="float: right;">
        <strong>Copied!</strong>
      </div>
      <div class="container-fluid">

        <div class="row justify-content-center">

          <div class="col-md-7">
            <div class="row mb-3">
              <div class="col-12 ">
                <h2 class="site-section-heading text-center">Quotes Gallery</h2>
              </div>
            </div>
          </div>

        </div>

        <div class="container load">
          <div class="row">
            <div class="bar">
              <div class="circle"></div>
              <p class="loaders"></p>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row row-cols-1 row-cols-md-3">
            <div class="col-md-6 text-justified" id="myData1"></div>
            <div class="col-md-6 text-justified" id="myData2"></div>
          </div>
        </div>

      </div>
    </div>

    <div class="footer py-4">
      <div class="container-fluid text-center">
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart-o" aria-hidden="true"></i> by <a href="{{ url_for('home') }}" style="font-family: 'Cormorant Garamond', serif;">"Quote It"</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>

    

    
    
  </div>

  <script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/jquery-migrate-3.0.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/jquery-ui.js') }}"></script>
  <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/jquery.stellar.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/jquery.countdown.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/jquery.magnific-popup.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/swiper.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/aos.js') }}"></script>

  <script src="{{ url_for('static',filename='js/picturefill.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/lightgallery-all.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/jquery.mousewheel.min.js') }}"></script>

  <script src="{{ url_for('static',filename='js/main.js') }}"></script>
  
  <script>
    $(document).ready(function(){
      $('#lightgallery').lightGallery();
    });
  </script>

</body>
</html>